body {
  font-family: "Outfit", sans-serif;
}

main {
    min-height: auto;
    width: 100%;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    border-radius: 15px;
    height: 30rem;
    width: 90%;
    max-width: 320px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

}

article img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin: 10px;
    margin-top: 0;
}

article h1 {
    margin-inline: 10px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

article p {
    margin-inline: 10px;
    margin-top: 0;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: hsl(216, 15%, 48%);
}

